<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo"></a>
<h3>{{ site.owner.name }}</h3>
<p>{{ site.owner.bio }}</p>
{% if site.owner.email %}<a href="mailto:mark@markrichman.com" class="author-social"><i class="icon-mail"></i> E-Mail</a>{% endif %}
<a href="tel:954-834-3330" class="author-social"><img src="/images/tel.png"> Call 954-834-3330</a>
<a href="/pgp.txt" class="author-social" target="_blank"><img src="/images/lock.png"> PGP Public Key</a>
<hr>
{% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}" class="author-social" target="_blank"><i class="icon-linkedin"></i> LinkedIn</a>{% endif %}
{% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" class="author-social" target="_blank"><i class="icon-github"></i> GitHub</a>{% endif %}
<a href="http://stackoverflow.com/users/134484/mark-richman" class="author-social" target="_blank"><img src="/images/stackoverflow.png"> Stack Overflow</a>
{% if site.owner.google_plus %}<a href="{{ site.owner.google_plus }}" class="author-social" target="_blank"><i class="icon-google-plus"></i> Google+</a>{% endif %}
{% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" class="author-social" target="_blank"><i class="icon-twitter"></i> Twitter</a>{% endif %}
{% if site.owner.facebook %}<a href="http://facebook.com/{{ site.owner.facebook }}" class="author-social" target="_blank"><i class="icon-facebook"></i> Facebook</a>{% endif %}
{% if site.owner.instagram %}<a href="http://instagram.com/{{ site.owner.instagram }}" class="author-social" target="_blank"><i class="icon-instagram"></i> Instagram</a>{% endif %}
<a href="http://www.quora.com/Mark-Richman" class="author-social" target="_blank"><img src="/images/quora.png"> Quora</a>
<a href="skype:mark_richman?chat&topic=Hello%20from%20your%20website" class="author-social" target="_blank"><img src="/images/skype.png"> Skype</a>
<a href="irc://chat.freenode.net" class="author-social"><img src="/images/irc.png"> IRC: mrichman</a>
<hr>
<a href="/feed.xml" class="author-social" target="_blank"><i class="icon-feed-2"></i> Atom/RSS Feed</a>
<hr>
<a href="https://www.surveymonkey.com/s/YY93B2V" target="_blank" class="author-social"><img src="/images/check.png"> Take My Survey</a>


