<div id="feedburner" style="margin-top:12px">
	<form style="border:none;text-align:left;" 
		  action="http://feedburner.google.com/fb/a/mailverify" 
		  method="post" 
		  target="popupwindow" 
		  onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=MarkRichman', 
		  						'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
		<strong>Enter your email address:</strong>
		<input type="text" style="width:240px" name="email"/>
		<input type="hidden" value="MarkRichman" name="uri"/>
		<input type="hidden" name="loc" value="en_US"/>
		<input type="submit" value="Subscribe" />
	</form>
</div>