<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_default_style">
<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
<span class="a2a_divider"></span>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_linkedin"></a>
</div>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.color_main = "D7D7D7";
a2a_config.color_border = "AEAEAE";
a2a_config.color_link_text = "333333";
a2a_config.color_link_text_hover = "333333";
a2a_config.color_arrow_hover = "undefined";
</script>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
